.App {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.App_column {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  z-index: 10;
  flex-shrink: 1;
  min-height: 10px;
  opacity: 0.49;
}

.App_column__nonTouchDevice {
  pointer-events: none;
}

.App_column__scrollable {
  pointer-events: auto;
}

.App_mapOverlay {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  overflow-y: scroll;
}

.App_mapOverlay__scrollable {
  background-color: rgba(249, 0, 0, 0.3);
}

.App_mapOverlayBottomPane {
  background: white;
  border-radius: 9px 9px 0 0;
  flex-grow: 1;
  pointer-events: auto;
  padding-bottom: 400px;
}

.App_mapOverlayTransparent {
  flex-basis: calc(100% - 180px);
  flex-shrink: 0;
}
