.BikehopperMap {
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100vh;
  width: 100%;
  z-index: 1;
}

/* render draggable marker over user location circle*/
.maplibregl-marker {
  z-index: 3;
}

.maplibregl-user-location-accuracy-circle {
  z-index: 1;
}

.maplibregl-user-location-dot {
  z-index: 2;
}
