.BikeHopperMap {
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100vh;
  z-index: 1;
}

.BikeHopperMap__mobile {
  width: 100%;
}

.BikeHopperMap__desktop {
  width: calc(100vw - 400px);
}

/* render draggable marker over user location circle*/
.maplibregl-marker {
  z-index: 3;
}

.maplibregl-user-location-accuracy-circle {
  z-index: 1;
}

.maplibregl-user-location-dot {
  z-index: 2;
}
