.BorderlessButton {
  border: none;
  background: none;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  padding: 0;
  cursor: pointer;
  text-align: left;
  -webkit-tap-highlight-color: transparent;
}

.BorderlessButton_flex {
  display: flex;
}
