.DesktopMapLayout {
  overflow: hidden;
  display: flex;
  width: 100%;
  height: 100%;
  flex-flow: row nowrap;
}

.DesktopMapLayout_sidebar {
  display: flex;
  flex-basis: 400px;
  height: 100%;
  overflow: hidden;
}

.DesktopMapLayout_map {
  display: flex;
  flex-grow: 1;
  height: 100%;
  overflow: hidden;
}
