.DesktopMapLayout {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-flow: row nowrap;
}

.DesktopMapLayout_sidebar {
  display: flex;
  flex-basis: 400px;
  height: 100%;
  overflow: hidden;
}

.DesktopMapLayout_map {
  display: flex;
  height: 100%;
  overflow: hidden;
}
