.ItineraryStep_iconContainer {
  margin-left: 15px;
}

.ItineraryStep_iconLarge path {
  stroke-width: 2px;
}

.ItineraryStep_iconSmall {
  margin-left: 9px;
  top: 2px;
}

.ItineraryStep_iconSmall path {
  stroke-width: 4px;
}

.ItineraryStep_content {
  margin: 0;
}
