.Itinerary_overallTimeHeading {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.Itinerary_overallSubheading {
  font-weight: normal;
  font-size: 16px;
  margin: 8px 0;
}

.Itinerary_backBtnAndHeadings {
  display: flex;
  flex-direction: row;
}

.Itinerary_headings {
  flex-grow: 1;
  margin-left: 12px;
}

.Itinerary_backButton,
.Itinerary_bottomBackBtn {
  background: none;
  height: 48px;
  display: block;
  border: 0;
  cursor: pointer;
  padding: 0;
  margin-left: -12px;
  display: flex;
  align-items: end;
}

.Itinerary_bottomBackBtnText {
  font-size: 16px;
  margin-left: 8px;
}

.Itinerary_bottomBackBtnContainer {
  flex-direction: row;
  display: flex;
  align-items: center;
}

.Itinerary_backIcon {
  vertical-align: middle;
  position: relative;
  top: 4px;
}

.Itinerary_backIcon path {
  stroke-width: 3px;
}
