/* .ItineraryStep {
  margin-left: 20px;
} */

.ItineraryStep_iconContainer {
  margin-left: 7px;
}

.ItineraryStep_iconLarge path {
  stroke-width: 2px;
}

.ItineraryStep_iconSmall {
  position: relative;
  margin-left: 3.5px;
  top: 6px;
}

.ItineraryStep_iconSmall path {
  stroke-width: 3px;
}

.ItineraryStep_iconTiny {
  position: relative;
  margin-left: 5px;
  top: 4px;
}

.ItineraryStep_iconTiny path {
  stroke-width: 2px;
}

.ItineraryStep_content {
  margin: 0 0 0 30px;
  font-size: 14px;
}

.ItineraryStep_iconSvg {
  background: white;
}
