.ItineraryHeader {
  margin: 16px 0;
  display: flex;
  flex-direction: row;
}

.ItineraryHeader_iconContainer {
  display: inline-flex;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  text-align: center;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.ItineraryHeader_iconContainer__isWhite {
  color: white;
}

.ItineraryHeader_icon {
  top: 0;
  width: 32px;
  height: 32px;
}

.ItineraryHeader_arrow {
  transform: rotate(0deg);
}

.ItineraryHeader_arrow_90 {
  transform: rotate(90deg);
}

.ItineraryHeader_header {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.ItineraryHeader_subheading {
  font-weight: normal;
  font-size: 16px;
  margin: 8px 0;
}

.ItineraryHeader_alerts {
  background-color: #fffbca;
  padding: 8px;
  margin: 0;
  list-style-type: none;
  border: 1px solid rgb(187, 187, 187);
  border-radius: 4px;
}

.ItineraryHeader_alertIcon {
  margin-right: 4px;
  position: relative;
  top: 4px;
}

.ItineraryHeader_alertHeader {
  font-weight: bold;
}

.ItineraryHeader_alertHeader::after {
  content: ': ';
}

.ItineraryHeader_alert:not(:last-child) {
  margin-bottom: 12px;
}
