.ItineraryHeader {
  margin: 16px 0;
  display: flex;
  flex-direction: row;
}

.ItineraryHeader_iconContainer {
  display: inline-flex;
  width: 36px;
  height: 36px;
  border-radius: 18px;
  text-align: center;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.ItineraryHeader_iconContainer__isWhite {
  color: white;
}

.ItineraryHeader_icon {
  top: 0;
  width: 20px;
  height: 20px;
}

.ItineraryHeader_headerRow {
  display: flex;
}

.ItineraryHeader_header {
  font-size: 17px;
  font-weight: 500;
  margin: 0;
}

.ItineraryHeader_subheading {
  font-weight: normal;
  font-size: 14px;
  margin: 2px 0 0 0;
  opacity: 0.6;
}

.ItineraryHeader_alerts {
  background-color: #fff5c0;
  padding: 8px;
  margin: 8px 0 0 0;
  list-style-type: none;
  border: 1px solid #f4d598;
  border-radius: 4px;
  font-size: 14px;
}

.ItineraryHeader_alertIcon {
  margin-right: 4px;
  position: relative;
  top: 4px;
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: top;
}

.ItineraryHeader_alertIcon svg {
  width: 16px;
  height: 16px;
}

.ItineraryHeader_alertHeader {
  font-weight: bold;
}

.ItineraryHeader_alertHeader::after {
  content: ': ';
}

.ItineraryHeader_alert:not(:last-child) {
  margin-bottom: 12px;
}
