.ItineraryDivider_subheading {
  font-weight: bold;
  font-size: 14px;
  line-height: 14px;
  margin: 0 0 8px;
}

.ItineraryDivider_subheadingTransit {
  color: #626262;
}

.ItineraryDivider_subheadingBike {
  color: #438601;
}

.ItineraryDivider_horizontalRule {
  color: #626262;
  font-size: 12px;
  line-height: 12px;
  margin-bottom: 12px;
  margin-top: 8px;
  display: inline-block;
  height: 12px;

  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) calc(50% - 1px),
    rgba(187, 187, 187, 1) 50%,
    rgba(0, 0, 0, 0) 50%
  );
}

.ItineraryDivider_detail {
  background: white;
  margin-left: 9px;
  padding: 0 5px;
}
