.MapOverlay {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  overflow: auto;
}

.MapOverlay_bottomPane {
  background: white;
  border-radius: 9px 9px 0 0;
  flex-grow: 1;
}

.MapOverlay_transparent {
  min-height: 300px;
}
