.RouteLeg {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.RouteLeg_transitMode {
  padding: 4px;
  margin-bottom: 2px;
  font-size: 15px;
  font-weight: bold;
}

.RouteLeg_duration {
  font-size: 12px;
}
