.RouteLeg {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.RouteLeg_transitMode {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.RouteLeg_transitModeIcon {
  margin-right: 4px;
  top: 0 !important; /* FIXME: why does Icon have hardcoded top 4px again? */
}

.RouteLeg_transitModeName {
  padding: 4px;
  margin-bottom: 2px;
  font-size: 15px;
  font-weight: bold;
}

.RouteLeg_duration {
  font-size: 12px;
}
