.RouteLeg {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.RouteLeg_mode {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* TODO: look for cleaner way to set height.
   * This is to make the transit modes be as tall as the bike icon, which is otherwise
   * taller (because the bike icon is displayed bigger), which messes up the alignment.
   */
  min-height: 36px;
}

.RouteLeg_transitModeIcon,
.RouteLeg_alertIcon {
  margin-right: 4px;
}

.RouteLeg_transitModeName {
  padding: 4px;
  margin-bottom: 2px;
  font-size: 15px;
  font-weight: bold;
}

.RouteLeg_duration {
  font-size: 12px;
  /* TODO: look for cleaner way to do this. See above comment about setting height.
   * The big bike icon has empty space under it for some reason. */
  margin-top: -3px;
}
