.SearchBar {
  padding: 0;
  display: flex;
  flex-flow: column;
  align-items: stretch;
  position: relative;
}

.SearchBar_input {
  background-color: #def0cc;
  border: none;
  padding: 12px 12px 12px 40px;
  border-radius: 12px;
  width: 100%;
  font-size: 13px;
}

.SearchBar_divider {
  display: block;
  height: 21px;
  border-left: 3px dotted white;
  margin-left: 19px;
}

.SearchBar_inputContainer {
  position: relative;
}

.SearchBar_icon {
  position: absolute;
  top: 8px;
  left: 8px;
}

.SearchBar_input:focus {
  background-color: #fff;
  outline: #ffd18e solid 2px; /* FIXME: would look better INSIDE the input */
}
