.SearchBar {
  background-color: #5aaa0a;
  padding: 20px 25px;
  display: flex;
  flex-flow: column;
  align-items: stretch;
}

.SearchBar_input {
  background-color: #def0cc;
  border: none;
  padding: 12px 12px 12px 40px;
  border-radius: 12px;
  width: 100%;
}

.SearchBar_inputContainer:not(:last-child) {
  margin-bottom: 25px;
}

.SearchBar_inputContainer {
  position: relative;
}

.SearchBar_icon {
  position: absolute;
  top: 8px;
  left: 8px;
}

.SearchBar_input:focus {
  background-color: #fff;
  outline: #ffd18e solid 2px; /* FIXME: would look better INSIDE the input */
}
