.TimeBar {
  position: relative;
}

.TimeBar_clockIcon {
  margin-right: -34px;
  margin-left: 10px;
  background: #5aaa0a;
  color: #ffd18e;
  top: 6px;
}

.TimeBar_select {
  display: inline-flex;
  background: transparent;
  width: 50%;
}

.TimeBar_select_control {
  color: #ffd18e;
  background: transparent;
  border: 1px solid;
  font-size: 13px;
  font-weight: bold;
  padding: 8px 10px;
  padding-left: 42px;
  width: 100%;
  margin-right: 6px;
}

.TimeBar_select_arrow {
  display: none;
}

.TimeBar_datetime {
  width: 50%;
  height: 35px;
  font-size: 12px;
  font-family: inherit;
  background-color: #def0cc;
  border: 2px solid transparent;
  border-radius: 12px;
}
.TimeBar_datetime:disabled {
  display: none;
}
