.TimeBar {
  margin-left: 16px;
  margin-top: 4px;
  width: 100%;
}

.TimeBar_datetime {
  margin: 0px 0px 0px 14px;
}

.react-tabs__tab-list {
  border-bottom: none;
}
.react-tabs__tab {
  color: #ffd18e;
  font-size: 15px;
  border: 0px;
  font-weight: bold;
}

.react-tabs__tab:focus:after {
  height: 0px;
}

.react-tabs__tab--selected {
  background: #5aaa0a;
  border: 5px solid;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-color: #ffd18e;
  border-radius: 0px 0px 0px 0px;
}
