body {
  margin: 0;
  display: flex;
  flex-flow: column nowrap;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  overflow: hidden;
}

html {
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

#root {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}
